{% ckan_extends %}

{% block extras %}
  {% if pkg_dict.issued %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Issued") }}</th>
      <td class="dataset-details">{{ pkg_dict.issued }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.modified %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Modified") }}</th>
      <td class="dataset-details">{{ pkg_dict.modified }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.language %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Language") }}</th>
      <td class="dataset-details">{{ pkg_dict.language }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.spatial %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Spatial") }}</th>
      <td class="dataset-details">{{ pkg_dict.spatial }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.temporal %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Temporal") }}</th>
      <td class="dataset-details">{{ pkg_dict.temporal }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.accrualPeriodicity %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Accrual Periodicity") }}</th>
      <td class="dataset-details">{{ pkg_dict.accrualPeriodicity }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.keyword %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Keyword") }}</th>
      <td class="dataset-details">{{ pkg_dict.keyword }}</td>
    </tr>
  {% endif %}
{% endblock %}
