{% ckan_extends %}

{% block package_basic_fields_custom %}
  {{ form.input('contactPoint', label=_('Contact Point'), id='field-contactPoint', placeholder=_('contact'), value=data.contactPoint, error=errors.contactPoint, classes=['control-medium']) }}
  {{ form.input('landingPage', label=_('Landing Page'), id='field-landingPage', placeholder=_('landing page'), value=data.landingPage, error=errors.landingPage, classes=['control-medium']) }}
  {{ form.input('issued', label=_('Issued'), id='field-issued', placeholder=_('issued'), value=data.issued, error=errors.issued, classes=['control-medium']) }}
  {{ form.input('modified', label=_('modified'), id='field-modified', placeholder=_('modified'), value=data.modified, error=errors.modified, classes=['control-medium']) }}
  {{ form.input('language', label=_('language'), id='field-language', placeholder=_('language'), value=data.language, error=errors.language, classes=['control-medium']) }}
  {{ form.input('spatial', label=_('spatial'), id='field-spatial', placeholder=_('spatial'), value=data.spatial, error=errors.spatial, classes=['control-medium']) }}
  {{ form.input('temporal', label=_('temporal'), id='field-temporal', placeholder=_('temporal'), value=data.temporal, error=errors.temporal, classes=['control-medium']) }}
  {{ form.input('accrualPeriodicity', label=_('accrualPeriodicity'), id='field-accrualPeriodicity', placeholder=_('accrualPeriodicity'), value=data.accrualPeriodicity, error=errors.accrualPeriodicity, classes=['control-medium']) }}
  {{ form.input('', label=_('Keyword'), id='field-keyword', placeholder=_('keyword'), value=data.keyword, error=errors.keyword, classes=['control-medium']) }}
{% endblock %}
