{% ckan_extends %}

{% block package_basic_fields_title %}
{{ form.input('title', id='field-title', label=_('Title'), placeholder=_('eg. A descriptive title'), value=data.title, error=errors.title, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target'}) }}
{% endblock %}

{% block package_basic_fields_url %}
{% set prefix = h.url_for(controller='package', action='read', id='') %}
{% set domain = h.url_for(controller='package', action='read', id='', qualified=true) %}
{% set domain = domain|replace("http://", "")|replace("https://", "") %}
{% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<dataset>'} %}
{{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix, placeholder=_('eg. my-dataset'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}
{% endblock %}

{% block package_basic_fields_description %}
{{ form.markdown('notes', id='field-notes', label=_('Description'), placeholder=_('eg. Some useful notes about the data'), value=data.description, error=errors.description) }}
{% endblock %}

{% block package_basic_fields_tags %}
{% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
{{ form.input('tag_string', id='field-tags', label=_('Tags'), placeholder=_('eg. economy, mental health, government'), value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs) }}
{% endblock %}

{% block package_basic_fields_custom %}
  {{ form.input('contactPoint', label=_('Contact Point'), id='field-contactPoint', placeholder=_('contact'), value=data.contactPoint, error=errors.contactPoint, classes=['control-medium']) }}
  {{ form.input('landingPage', label=_('Landing Page'), id='field-landingPage', placeholder=_('landing page'), value=data.landingPage, error=errors.landingPage, classes=['control-medium']) }}
  {{ form.input('issued', label=_('Issued'), id='field-issued', placeholder=_('issued'), value=data.issued, error=errors.issued, classes=['control-medium']) }}
  {{ form.input('modified', label=_('modified'), id='field-modified', placeholder=_('modified'), value=data.modified, error=errors.modified, classes=['control-medium']) }}
  {{ form.input('language', label=_('language'), id='field-language', placeholder=_('language'), value=data.language, error=errors.language, classes=['control-medium']) }}
  {{ form.input('spatial', label=_('spatial'), id='field-spatial', placeholder=_('spatial'), value=data.spatial, error=errors.spatial, classes=['control-medium']) }}
  {{ form.input('temporal', label=_('temporal'), id='field-temporal', placeholder=_('temporal'), value=data.temporal, error=errors.temporal, classes=['control-medium']) }}
  {{ form.input('accrualPeriodicity', label=_('accrualPeriodicity'), id='field-accrualPeriodicity', placeholder=_('accrualPeriodicity'), value=data.accrualPeriodicity, error=errors.accrualPeriodicity, classes=['control-medium']) }}
  {{ form.input('', label=_('Keyword'), id='field-keyword', placeholder=_('keyword'), value=data.keyword, error=errors.keyword, classes=['control-medium']) }}
{% endblock %}
